* {
  margin: 0;
  padding: 0;
  border: box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* overflow-x: hidden; */
  /* border: 1px solid red; */
}

/* NAV */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  width: 90.55%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 30px;
  padding-left: 10rem;
}

.titulo {
  color: #0066ff;
  font-size: 1.5rem;
}

.listas {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lista {
  margin-right: 5rem;
  list-style: none;
  color: gray;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
}
.listaBoton{
  margin-right: 5rem;
}

.espacio {
  margin-right: 3rem;
}

.boton {
  /* margin-right: 9.5rem; */
  padding: 8px;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  border-radius: 5px;
  background: #0066ff;
  color: #fff;
  font-weight: 600;

  box-shadow: -1px 8px 31px -8px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: -1px 8px 31px -8px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -1px 8px 31px -8px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  border-style: none;
}



/* HOMESCREEN */
.HomeScreen {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-left: 8.8rem;
  margin-right: 11.3rem;
  padding: 20px;
}

.enfermera {
  position: absolute;
  top: -3rem;
  right: 0;
  width: 38%;
  z-index: -8;
}

.homeTitulo {
  margin-top: 3rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #16396e;
}

.homeParrafo {
  line-height: 1.4rem;
  color: #466491b6;
  font-weight: 600;
  width: 60%;
  margin-bottom: 2rem;
}
/* CUADRO */

.cuadro_titulo {
  margin-top: 8rem;
  color: rgb(114, 114, 114);
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.8px;
}

.cuadro_listas {
  list-style: none;
}

.cuadro_lista {
  color: #16396e;
  font-size: 1.2rem;
  font-weight: 600;
}
.cuadro_subtitulo {
  font-size: 1rem;
  color: rgb(114, 114, 114);
  font-weight: 500;
}

.cuadro_boton {
  padding: 1rem 2.5rem;
  border-radius: 5px;
  border-color: #0066ff;
  background-color: #0066ff;
  outline: none;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.7px;
  cursor: pointer;
  border-style: none;
}

.boton:hover,.cuadro_boton:hover{
  background: #fff;
  color:#0066ff;
  transition:all .2s ease
}

.cuadro_boxListas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1.5rem 0 7rem;
  padding: 6% 4%;
  width: 130%;
  background: rgba(255, 255, 255, 0.69);
  border-radius: 6px;
  box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.7px);
  -webkit-backdrop-filter: blur(7.7px);
  border: 1px solid rgba(255, 255, 255, 0.16);
}

/* VACUNAS */

.boxImgVacuna {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vw;
  margin: 4rem  auto;
}
.imgVacuna {
  width: 20%;
  margin-right: 4rem;
}

/* INFO */
.info {
  height: 50vh;
  margin: 0 5rem 11.3rem 8.8rem;
}

.info_titulo {
  color: #16396e;
  font-size: 3rem;
  margin-top: 8rem;
}

.info_parrafo {
  color: rgba(22, 57, 110, 0.682);
  line-height: 2.5rem;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 4rem 0;
  margin-bottom:5rem;
}

.info_cards {
  display: flex;
  justify-content: space-between;
}

.info_card {
  width: 12rem;
  height: 12rem;
  margin: 0 3rem;

  border: 4px solid rgba(171, 171, 171, 0.163);
  border-radius: 8px;
  padding: 1.5rem;
}

.info_cardTitulo,
.joven_boxInfo > h4 {
  color: #16396e;
  font-size: 1.3rem;
  margin: 0.8rem 0;
}
.info_cardParrafo {
  color: rgba(43, 64, 96, 0.682);
  font-weight: 500;
}

/* SENORITA */

.senorita {
  display: flex;
  margin: 8rem 0rem;
  /* border:1px solid red; */
}

.senorita_boxInfo {
  width: 40%;
  padding-top:4rem
}

.senorita_boxInfo_Prep-title,
.joven_boxInfo > h4 {
  color: #1f3e72;
  font-weight: 700;
  font-size: 3rem;
}

.senorita_boxInfo_Prep-p,
.joven_boxInfo > p {
  color: #6d7b93;
  font-weight: 500;
  font-size: 1.3rem;
  margin: 2rem 0;
  width: 85%;
}

.senorita_boxInfo_Prep-desplegables {
  /* margin-top: 50rem 0; */
  padding-top: 2.1rem;
}

.senorita_boxInfo_Prep-desplegable {
  border: 1px solid #f5f6fe;
  width: 90%;
  padding: 3%;
  margin: 4% 0;
}

.senorita_boxInfo_Prep-desplegable > summary {
  color: #1f3e72;
  font-weight: 500;
  cursor: pointer;
}
.senorita_boxInfo_Prep-desplegable > p {
  color: #6d7b93;
  font-weight: 500;
}

.senorita_boxInfo {
  margin: 5rem 20rem 5rem 8rem;
}

/* joven */

.joven {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 8% 2%;
  width: 90vw;
}
.joven_box {
  margin: 5rem 20rem 5rem 8rem;
}

.joven_box{
  margin-bottom: 2rem;
}

.jovenImg {
  object-fit: contain;
  aspect-ratio: auto;
}

.joven_box_cardContact-topContent {
  padding: 2rem;
  font-size: 2rem;
  color: #1f3e72;
}

.joven_box_cardContact-topContent > p {
  font-size: 1rem;
  padding: 0.6rem;
  color: #6d7b93;
}

.joven_box_cardContact-btn {
  padding: 1rem 2rem;
  background: #f1f5ff;
  color: #2949c7;
  font-weight: 500;
  border-radius: 5px;
  border-style: none;
  border-color: #f1f5ff;
  margin: 1rem;
}

.joven_box_cardContact-btn:hover{
  background:#0066ff;
  color:#fff;
  transition: all 0.3s ease;
}

.joven_box_cardsContacs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.joven_box_cardContact {
  padding: 2% 3%;
  border-radius: 3px;
  border: 2px solid #6d7b93;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;

  background: rgba(255, 255, 255, 0.82);
  border-radius: 16px;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.2px);
  -webkit-backdrop-filter: blur(12.2px);
  border: 1px solid rgba(255, 255, 255, 0.02);
}

/* FOOTER */

.footer,.footer_politica{
  background: #eef3ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 1.3rem 0;
}

.footer_boxListas,
.footer_politica-lists {
  display: flex;
  margin-right: 1rem;
}

.footer_boxListas-listas,
.footer_politica-list {
  list-style: none;
  margin-right: 8rem;
  cursor: pointer;
}

.footer_boxListas-lista,
.footer_boxPresent-parrafo {
  list-style: none;
  margin: 1rem 0;
  color: #6d7b93;
  font-weight: 500;
}

.footer_boxPresent-titulo {
  color: #2747c5;
  font-weight: 700;
  font-size: 1.5rem;
}

.footer_boxPresent-parrafo {
  width: 38%;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.footer_boxListas-titulo {
  color: #1f3e72;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: default;
}

.footer_boxPresent{
  margin-left: 9rem;
}
/* Footer politicas */

.footer,.footer_politica {
  /* padding: 0rem 14rem 1.5rem 8.8rem; */
  color: #6d7b93;
  width: 100%;
  /* padding-top:3rem; */
}

.footer_politica-p{
  margin: 0rem 0rem 0rem 9rem; 
}
